---
title: Watsons Wander Live
---

.container
  .row
    .col-xs-2
      %img.img-rounded{src: '/images/us.jpg', style: "width: 95px;"}
    .col-xs-10
      %p.lead
        Since June 2012 we have traveled the U.S. while living and working from our renovated 25-foot Airstream. Something something about collecting the data. blah blah.


#loading
  %h2
    Loading...
    %span#loading-state

#content.hidden
  = partial 'views/_state_map'

  = partial 'views/_current'

  = partial 'views/_categories'

  = partial 'views/_top_states'

  = partial 'views/_costs'

  = partial 'views/_towing'
